.container {
  flex-wrap: nowrap;
}

.barra-lateral {
  margin-top: 2rem;
  margin-right: 1rem;
  width: 20%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.panel > ul {
  list-style: none;
}

.panel > ul > li {
  margin: 1rem;
}

.panel > ul > li > label {
  cursor: pointer;
}

/* PRODUCTOS */
.titulo {
  width: 100%;
}

.productos {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
}

.productos > .card {
  width: 20%;
  margin: 5px;
  padding: 20px;
  align-items: flex-start;
}

.productos > .card > img {
  width: 200px;
}

.card {
  cursor: pointer;
}

.busqueda {
  height: 547px;
  width: 100%;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .card {
    width: 25%;
  }
}

@media only screen and (max-width: 1023px) {
  .barra-lateral {
    display: none;
  }

  .productos {
    justify-content: center;
  }

  .card {
    width: 40%;
  }
}
